@import "../variables";

@import "@pittica/scss-functions";

.accordion {
  outline: none;
  h1 {
    &.title {
      color: $dark;
      font-weight: $weight-light;
      font-size: $size-4;
      padding-top: $size-4;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  h2 {
    &.description {
      font-size: $size-6;
      letter-spacing: normal;
      text-transform: none;
      padding-bottom: $size-6;
    }
  }
  .accordion-body {
    overflow: hidden;
    display: none;
    margin-bottom: $size-3;
  }
  .accordion-toggle {
    position: absolute;
    right: 0;
    font-size: $size-3;
    padding-top: $size-6;
    padding-right: $size-4;
    color: $primary;
  }
  &.is-active {
    .accordion-body {
      display: block;
    }
  }
}
